body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 20px;
  background-color: #f4f6f9;
  color: #495057;
}
h1 {
  text-align: center;
  color: #f7fafc;
  background-color: #000000;
  padding: 15px;
  border-radius: 10px;
  max-width: 100%;
  margin: 20px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-size: 28px;
  letter-spacing: 1.2px;
}
.container {
  max-width: 1000px;
  margin: 20px auto;
  padding: 0 15px;
}
.button {
  display: block;
  width: 200px;
  margin: 20px auto;
  background-color: #31ce6b;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}
.button:hover {
  background-color: #2bb062;
}
.scrollable-table {
  overflow-x: auto;
  overflow-y: auto;
  max-height: 500px; /* Adjust height as needed */
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: #ffffff;
}
thead th {
  position: sticky;
  top: 0;
  background-color: #4a5568;
  color: #ffffff;
  border-bottom: 2px solid #ddd;
  z-index: 10;
}
th, td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}
th {
  font-size: 16px;
}
tr:nth-child(even) {
  background-color: #f9f9f9;
}
tr:hover {
  background-color: #f1f1f1;
}
.index-col {
  width: 50px;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

#back_arrow{
  background-color: #3182ce;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
}